      circle{
          r:4px;
      }
      
      rect{
         color:black;
          background-color: black;
          
      }
      
      div#placeholder-2_title {
         margin-left:100px; 
      }
      